@import "variales.css";
@import "reset.css";
@import 'chart-module.css';
@import "title.css";
@import "cover.css";

/* 主要布局 */
#root {
  width: 1920px;
  height: 937px;
  color: var(--white);
}

.App {
  height: 100%;
  width: 100%;
}

.main {
  position: relative;
  height: calc(100% - var(--header-height));
  width: 100%;
}

/* 头部 */
.header {
  height: var(--header-height);
  line-height: var(--header-height);
  background: var(--blue);
}

.header__logo {
  height: 44px;
  line-height: 44px;
  margin: 8px 10px;
}

.header__time {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

/* 地图 */
#view {
  position: absolute;
  top: var(--title-height);
  left: calc(var(--sidebar-width) + var(--submodule-menu));
  width: calc(100% - var(--sidebar-width) - var(--sidebar-width) - var(--submodule-menu));
  height: calc(937px - var(--header-height) - var(--title-height));
}

/* 侧边栏 */
.sidebar-left {
  position: absolute;
  left: var(--submodule-menu);
  width: var(--sidebar-width);
  padding-top: 30px;
  height: calc(100% - 30px);
  background: var(--blue-17);
  z-index: 11;
}

.sidebar-right {
  position: absolute;
  left: calc(1920px - var(--sidebar-width));
  width: var(--sidebar-width);
  padding-top: 30px;
  height: calc(100% - 30px);
  background: var(--blue-17);
  z-index: 11;
}

/* 侧边导航 */
.submodule-menu {
  position: absolute;
  left: 0;
  width: var(--submodule-menu);
  height: 100%;
  background: var(--blue-15);
  z-index: 30;
  transition:width 0.2s;
  -moz-transition:width 0.2s; /* Firefox 4 */
  -webkit-transition:width 0.2s; /* Safari and Chrome */
  -o-transition:width 0.2s; /* Opera */
}

.submodule-menu:hover {
  width: calc(var(--submodule-menu) + 70px);
}

.submodule-menu__item {
  display: block;
  margin: 20px 10px;
  padding: 10px;
  color: var(--white);
  background: var(--blue);
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  text-decoration:none;
}

.submodule-menu__item--selected {
  background: var(--blue-11);
  box-shadow: 0px 0px 8px 0px var(--blue-8);
}

.submodule-menu__item-img {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.submodule-menu__item-name {
  padding-left: 10px;
}
