body {
  margin: 0;
  font-size: 14px;
  line-height: 1.3;
  color: var(--black);
  background: var(--black);
  font-family: MicrosoftYaHei, sans-serif;
  overflow: auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

label {
  cursor: pointer;
}

input[type="checkbox"] {
  width: 14px;
  height: 14px;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  font-size: 14px;
  padding: 8px;
  color: var(--black);
  border: 0.5px solid var(--grey-10);
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--grey-8);
}

select {
  height: 24px;
  border: 0.5px solid var(--grey-10);
  color: var(--black);
}

.icon {
  height: 12px;
  width: 12px;
  vertical-align: middle;
  margin-left: 3px;
}
